# Introducción a objetos
## Primeros objetos
Funciones integradas en python
1. type : la función que identifica el tipo de objeto
2. Print
3. Float
4. String
6. Listas

In [1]:
saludo = "hola mundo"

In [2]:
type(saludo)

str

In [3]:
num = 5

In [4]:
type(num)

int

In [5]:
print(saludo)
print(num)

hola mundo
5

In [8]:
# Este código ve3rifica si num y saludo son objetos iguales o diferentes
# El resultado aroja un valor booleano
type(num) == type(saludo)

False

In [10]:
# convierte un entero en float
float(num)

5.0

In [11]:
nums = str(num)

In [14]:
print(nums)

5

In [15]:
type(nums) == type(num)

False

In [20]:
range(10)

range(0, 10)

In [25]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [26]:
lista1 = [1, "1", 1.0 , True, [2,3] ]

In [30]:
print(lista1[2])

1.0

In [31]:
type(lista1)

list

In [34]:
lista2 = [i for i in range (11)]

In [35]:
print(lista2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]