Crea definiciones que calculen el área de un círculo y el área de un rectángulo, respectivamente.

In [ ]:
#Creamos una definición que calcule el área de un círculo
def areacirculo(r):
  import numpy as np
  pi = np.pi
  a = pi * (r**2)
  return a

In [ ]:
areacirculo(2)

12.566370614359172

In [ ]:
#Creamos una definición que calcule el área de un rectángulo
def arearectangulo(b,h) :
  a = b * h
  return a

In [ ]:
arearectangulo(10,20)

200

In [ ]:
#creamos una definición para sacar la raíx cuadrada de un número
def raizcuadrada(num):
  numraiz = num**(0.5)
  return numraiz

In [ ]:
#importamos numpy y creamos una lista de números aleatorios del 0 al 100 de tamaño 20
import numpy as np
lista1 = np.random.randint(0, 101,20)

In [ ]:
lista1

array([37, 24, 66, 99, 62, 76, 79, 66,  9, 38,  6, 32, 56, 13, 40,  6, 52,
       53, 88, 56])

In [ ]:
#  Usamos un for para añadir a una lista vacía las raíces cuadradas de cada uno de los elementos de la lista 1
L = []

for i in lista1:
  a = raizcuadrada(i)
  L.append(a)

In [ ]:
L

[6.082762530298219,
 4.898979485566356,
 8.12403840463596,
 9.9498743710662,
 7.874007874011811,
 8.717797887081348,
 8.888194417315589,
 8.12403840463596,
 3.0,
 6.164414002968976,
 2.449489742783178,
 5.656854249492381,
 7.483314773547883,
 3.605551275463989,
 6.324555320336759,
 2.449489742783178,
 7.211102550927978,
 7.280109889280518,
 9.38083151964686,
 7.483314773547883]

In [ ]:
# creamos una lista vacía y usamos un for para añadir cada valor dentro de lista 1 que sea número entero o que su raíz cuadrada sea un número entero a L2
L2 = []
for i in lista1:
  if i ==int(i):
    L2.append(i)
  else:
    a2 = raizcuadrada(i)
    if a2 == int(a2):
      L2.append(i)

In [ ]:
L2

[37, 24, 66, 99, 62, 76, 79, 66, 9, 38, 6, 32, 56, 13, 40, 6, 52, 53, 88, 56]